<!--login.html-->
{% extends 'base.html' %}


{% block title %}Login page{% endblock %}

{% block content %}

<form action="{{url_for('main')}}" methods="POST">
    <div class="company_login">
        <h3>Company Name</h3>
        <input type="text" name="company_id" id="cid" placeholder="Company ID">
        <input type="password" name="c_password" id="c_pwd" placeholder="Password">
        <input type="email" name="business_email" id="bus_mail" placeholder="Business Email">
        <input type="submit" value="Login">
        <p>Does not have an account?Click to <a href="#link">Sign Up</a></p>
    </div>
</form>
{% endblock content %}