<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <form action="" method="POST">
        <label for="company_id">Company ID: </label>
        <input type="text" name="company_id" id="cid">
        <label for="password">Password: </label>
        <input type="password" name="c_password" id="c_pwd">
        <label for="business_mail">Business Email: </label>
        <input type="email" name="business_email" id="bus_mail">
        <input type="submit" value="Login">

    </form>
</body>

</html>