<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Company-Registration Page</title>
</head>

<body>

    <form action="{{url_for('register')}}" methods="POST">
        <div class="company_register">
            <h2>Sign Up</h2>
            <input type="text" name="company_name" id="cname" placeholder="Company Name">
            <input type="text" name="company_id" id="cid" placeholder="Company ID">
            <input type="text" name="director" id="dir" placeholder="Director:">
            <input type="password" name="set_password" id="set_pwd" placeholder="Set Password">
            <input type="email" name="business_email" id="bus_mail" placeholder="Business Email">
            <input type="text" name="country" id="cntry" placeholder="Country">
            <input type="text" name="state" id="stt" placeholder="State">
            <input type="submit" value="Register" id="regis">
        </div>
    </form>
</body>

</html>