<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company-Registration</title>
</head>
<body>
    <form action="" method="POST">
        <div class="container">
            <label for="company_name">Company Name: </label>
            <input type="text" name="company_name" id="cname">
            <label for="company_id">Company ID: </label>
            <input type="text" name="company_id" id="cid">
            <label for="director">Director: </label>
            <input type="text" name="director" id="dir">
            <label for="password">Set Password: </label>
            <input type="password" name="set_password" id="set_pwd">
            <label for="business_mail">Business Email: </label>
            <input type="email" name="business_email" id="bus_mail">
            <label for="state">State</label>
            <input type="text" name="state" id="stt">
            <label for="country">Country: </label>
            <input type="text" name="countyr" id="cntry">
            <label for="co_num">Contact Number: </label>
            <input type="text" name="co_num" id="cnum">
            <input type="button" value="Get OTP" onclick="otpFunc()">
            <input type="text" name="otpcheck" id="otp">
            <input type="submit" value="Register" id="regis">
        </div>
    </form>
</body>
</html>